@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;

    font-family: 'Lato', sans-serif;
    display: flex;
}

.image {
    position: relative;
    display: flex;
    width: 40vw;
}

img {
    max-height:100%; 
    max-width:100%;
    object-fit: cover;
}

.image > div {
    position: absolute;
    display: flex;
    justify-content: center;
    top: 160px;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    padding: 24px 0;
}

.image > div > div {
    display: flex;
    gap: 10px;
}

h2 {
    font-size: 2rem;
    color:white;
    text-align: center;
    font-weight: bold;
    text-shadow: 2px 1px black;
    /* line-height: 100%; */
}

h3 {
    font-weight: normal;
    font-size: 1.4rem;
    margin-bottom: 10px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    
    background-color: #121212;
    color:rgb(189, 188, 188);

    width: 60vw;

}

.paragraphs {
    display: flex;
    flex-direction: column;
    margin: 30px 0;
    padding: 40px;
}

 .paragraphs > p {
    width: 100%;
    margin-bottom: 20px;
    font-size: 1.4rem;
}

.form-container {
    display: flex;
    flex-direction: column;
    background-color: #171717;
    width: 100%;
    padding: 20px 40px;
}

form {
    display: flex;
    flex-direction: column;
}

.form-wrapper {
    display: flex;
    gap: 50px;
}

.left,
.right {
    display: flex;
    flex-direction: column;
    
    gap: 8px;
}

.left > div, 
.right > div {
    display: flex;
    flex-direction: column;
}

label {
    padding: 5px 0;
}

input {
    background-color: #121212;
    border: 1px solid black;
    height: 1.7rem;
    width: 15rem;
    color:rgb(154, 154, 154);
    border-radius: 3px;
    font-size: 1rem;
    padding: 3px;
}

input:invalid {
    box-shadow: 0 3px #592A30;
    border: 1px solid #592A30;
}

input:valid {
    box-shadow: 0 4px #415449;
    /* border: 1px solid #415449; */
}

input:focus {
    border: 1px 1px gold;
}

.options {
    padding-top: 20px;
    padding-left: 40px;
}

.options > p {
    margin-left: 10px;
}

a {
    color:rgb(73, 94, 94);
    font-weight: bold;
}

button[type='submit'] {
    padding:  14px 24px;
    background-color: #415449;
    color:rgb(211, 211, 211);
    border-radius: 10px;
    border: 2px solid black;
    font-size: 1.15em;
    font-weight: bold;
    text-shadow: 1px 1px black;
    margin: 8px;
    cursor: pointer;
}