* {
    box-sizing: border-box;
}

body {
    background-image: url('images/background.jpg');
    background-size: cover;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
}

/* img {
    height: 100vh;
    width: 100vw;
    border: 0;
} */